
body { 
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    background: #cfced3;
    max-width: 700px;
    padding: 3%;
    color: rgb(88, 77, 77);
}

h1 {
#    font-size: 40px;
#    font-weight: 400;
#    line-height: 46px;
    font-size: 30px;
    font-weight: 700;   
    line-height: 34px;
    margin: 0px;
    color:  #619ADD;
}

h2 {
    font-size: 30px;
    font-weight: 700;   
    line-height: 34px;
    margin: 0px;
    color:  #619ADD;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px;
    padding-bottom: 1px;
    padding-top: 0px;
    text-align: justify;
}

table {
    font-size: 16px;
}

div.image-container {
    float: right;
    margin: 58px;
}

div.text-container {

}

img { 
    border: none; 
}

nav {
    overflow: auto;
    margin: 30px auto;
    display: flex;
    /*align-items: center;*/
}

nav ul {
   list-style: none;
   margin: 0 auto;
   padding: 0;
   border: 0;
}

nav li {
    float: left;
    border-top: 1px solid rgb(167, 167, 167);
    border-bottom: 1px solid rgb(167, 167, 167);
    border-left: 1px solid rgb(167, 167, 167);
}

nav li:last-child {
    border-right: 1px solid rgb(167, 167, 167);  
}

nav a {
    display: block;
    color: rgb(167, 167, 167);
    padding: 10px 12px;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

a {
    color: #666;
    /*color: rgb(88, 77, 77);*/
}

a:visited {
    color: #fff;
}

a:hover {
    color: rgb(0, 0, 0);
}

.date-footer {
    float: right;
    margin-top: 80px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.bibtexitem .bibtexnumber{ 
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    background: #cfced3;
    max-width: 700px;
    padding: 3%;
    color: rgb(88, 77, 77);
}

p em {
	font-size: 8px;
}

